<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin)  %>

<! renders partial whilst identifying name of partial and collection-->
<!collection is manually being entered to tell rails that this type of partial/render is of this collection type-->
<%= render partial: 'portfolio_item', collection: @portfolio_items %>
<! manual configuartion of a partial-->

