<h1>Pages#contact</h1>
<p>Contact me at <%= number_to_phone "4974937848" %></p>
<p><%= number_to_currency "150.32" %></p>
<p><%= number_to_percentage "78.43" %></p>
<p> <%= number_with_delimiter "4974937848" %></p>